* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  ;
  margin-top: 200px;
}

body {
  background-color: darkcyan;
}

/* ////////////////////////////////////////////////////////Form///////////////////////////////////////////////////////////////// */

.nickNameForm {
  display: flex;
  flex-direction: column;
  width: 300px;
  text-align: center;
  align-items: center;
}

.inputForm {
  width: 300px;
  margin-top: 20px;
  padding: 10px 30px;
  border-radius: 10px;
  outline: none;
  border: none;

}

.playBtn {
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 10px;
  width: 100px;
}

/* ////////////////////////////////////////////////////////Wall///////////////////////////////////////////////////////////////// */
.wallWrapper {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.question {
  width: 100%;
  text-align: center;
  padding: 20px;
}

.animalWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 55px;
}

.animal {
  width: 30%;
  text-align: center;
  padding: 20px 10px;
}

.animal-active {
  color: '#ddd'
}

.checkButton {
  padding: 5px 15px;
  margin-top: 30px;
  color: deepskyblue;
  border-radius: 15px;
  border: none;
}

.checkButton:hover {
  cursor: pointer;
}

.checkButtonWrapper {
  width: 100%;
  text-align: center;
}

.word:hover {
  cursor: pointer;
}